<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="payloadMapping"
        class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping">
        <property name="endpointMap">
            <map>
                <entry
                    key="{http://www.chrisrichardson.net/schemas/ptrack-spring-ws}ProjectsWaitingForApprovalRequest"
                    value-ref="projectsWaitingForApprovalEndpoint" />
            </map>
        </property>
        <property name="interceptors">
            <list>
                <ref bean="validatingInterceptor" />
                <ref bean="wsSecurityInterceptor" />
            </list>
        </property>
    </bean>

    <bean id="validatingInterceptor"
        class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor">
        <property name="schema" value="classpath:/schemas/ptrack-ws.xsd" />
        <property name="validateRequest" value="true" />
        <property name="validateResponse" value="true" />
    </bean>
    
    <bean id="projectsWaitingForApprovalEndpoint"
        class="org.jia.ptrack.ws.springws.server.ProjectsWaitingForApprovalEndpoint">
        <constructor-arg ref="projectCoordinatorFacade" />
        <property name="marshaller" ref="marshaller"></property>
        <property name="unmarshaller" ref="marshaller"></property>
    </bean>

    <bean id="marshaller"
        class="org.springframework.oxm.castor.CastorMarshaller">
        <property name="mappingLocation" value="classpath:mapping.xml" />
    </bean>

    <bean id="springws"
        class="org.springframework.ws.wsdl.wsdl11.DynamicWsdl11Definition">
        <property name="builder">
            <bean
                class="org.springframework.ws.wsdl.wsdl11.builder.XsdBasedSoap11Wsdl4jDefinitionBuilder">
                <property name="schema"
                    value="classpath:/schemas/ptrack-ws.xsd" />
                <property name="portTypeName" value="Ptrack" />
                <property name="locationUri"
                    value="http://localhost:8080/webapp" />
            </bean>
        </property>
    </bean>

    <bean id="wsSecurityInterceptor"
        class="org.springframework.ws.soap.security.xwss.XwsSecurityInterceptor">
        <property name="policyConfiguration"
            value="classpath:securityPolicy.xml" />
        <property name="callbackHandlers">
            <list>
                <ref bean="acegiHandler" />
            </list>
        </property>
    </bean>

    <bean id="acegiHandler"
        class="org.springframework.ws.soap.security.xwss.callback.acegi.AcegiPlainTextPasswordValidationCallbackHandler">
        <property name="authenticationManager"
            ref="authenticationManager" />
    </bean>

</beans>